$primary-text:#212121;
$bottom-text:#757575;
$lightgray: rgb(233, 227, 227);

.card-title{
    color: $primary-text;
}
.card-text{
    color:$bottom-text;
}
.card{
    width: 100%;
}
.done{
    text-decoration: line-through;
}
.greyed{
    background-color: $lightgray;
}