<p></p>
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-12">
      <app-edit-component [edit]='selectedItem'  [error]='error' (event)="addList($event)"></app-edit-component>
    </div>
    <div class="col-md-4 col-12">
      <div class="row" *ngFor='let item of items;'>
          <div class='col-12' [class.active]="item === selectedItem" (click)='setActive(item)'>
        <app-item-component [item]='item' (event)="delItem($event)"></app-item-component>
      </div>
      </div>
      <button (click)='resetList()' class="btn btn-primary">Reset &nbsp; <i class="fa fa-undo"></i></button>
    </div>
  </div>
</div>
