<div *ngIf='edit'>
  <h4>{{ edit.name | uppercase }} Details</h4>
  <div>
    <label>naam:
      <input [(ngModel)]="edit.name" placeholder="Naam" />
    </label>
    <label>Hoeveelheid
      <input [(ngModel)]="edit.amount" placeholder="Hoeveelheid">
    </label>
  </div>

</div>
<div>
  <h2>Nieuw Item</h2>
  <label>naam:
    <input placeholder="Naam" #inputName/>
  </label>
  <label>Hoeveelheid
    <input placeholder="Hoeveelheid" #inputAmount>
  </label>
  <button (click)='addToList(inputName, inputAmount)' class="btn btn-primary">Add to list</button>
  <div *ngIf="error == 'duplicate'">
      <span class="badge badge-warning"><h6>Warning: Item already exists <i class="fa fa-close" aria-hidden="true" (click)='closeError()'></i></h6></span>
  </div>
  <div *ngIf="error == 'type'">
      <span class="badge badge-warning"><h6>Warning: Please fill in all fields <i class="fa fa-close" aria-hidden="true" (click)='closeError()'></i></h6></span>
  </div>
</div>
