/* You can add global styles to this file, and also import other style files */
$fancy:#00BCD4;
$light-primary: #B2EBF2;
body{
    background-color: $fancy;
    color: #FFFF;
}
.active .card{
    background-color: $light-primary;
}